/* 
  Overthrow CSS:
  Enable overflow: auto on elements with overthrow class when html element has overthrow class too 
*/
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.overthrow-enabled .overthrow.ui-content {
  position: absolute;
  z-index: 1000;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
}
  
.pep-active {
  z-index: 1001;
}

.ui-header {
  z-index: 1004;
}

#item-lists .owl-item>div{
  display: block;
  width: 100%;
  height: auto;
}

.content-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  /*display: none;*/
  background: rgba(0,0,0,0);
  -webkit-transition: background 300ms linear;
  -moz-transition: background 300ms linear;
  -o-transition: background 300ms linear;
  -ms-transition: background 300ms linear;
  transition: background 300ms linear;
}


.ui-panel-display-reveal {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.ui-panel-page-content-display-reveal .content-overlay{
  position: absolute;
  display: block;
}

html body .ui-panel-dismiss {
  display: none;
}

@media (min-width:60em) {

  .ui-panel-page-content-display-reveal .content-overlay{
    pointer-events:none;
    -webkit-box-shadow: inset 5px 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 5px 0 10px rgba(0,0,0,0.1);
    box-shadow: inset 5px 0 10px rgba(0,0,0,0.1);
  }

  /* wrap on wide viewports once open */
  .ui-panel-page-content-open.ui-panel-page-content-position-left{
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right {
    margin-left: 17em;
  }
  .ui-panel-page-content-open{
    width: auto;    
  }
  /* disable "dismiss" on wide viewports */
  .ui-panel-dismiss {
    display: none;
  }
  /* same as the above but for panels with display mode "push" only */
  .ui-panel-dismiss-display-push {
    display: none;
  }

  .owl-item, #item-tabs li {
    -webkit-transition: width 200ms ease;
    -moz-transition: width 200ms ease;
    -o-transition: width 200ms ease;
    -ms-transition: width 200ms ease;
    transition: width 200ms ease;
  }

}

@media (max-width: 60em) {

  .ui-panel-page-content-display-reveal .content-overlay{
    background: rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 10px 0 20px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 10px 0 20px rgba(0,0,0,0.3);
    box-shadow: inset 10px 0 20px rgba(0,0,0,0.3);
  }

  #index .ui-title {
    text-align: left;
    margin-left: 42px;
  }

}

#item-tabs {
  position: relative;
  z-index: 1002;
  box-shadow: 0px 3px 3px 0 rgba(0,0,0,.15);
  overflow: hidden;
  margin-bottom: -1px;
}


#index .ui-header .ui-controlgroup .ui-btn-icon-notext {
  padding: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  white-space: nowrap !important;
}

#index .ui-header .ui-controlgroup a {
  border-radius: 0;
}


#index .ui-header .ui-controlgroup .ui-first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#index .ui-header .ui-controlgroup .ui-last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


#index .ui-header .ui-controlgroup .ui-btn-icon-left:after,
#index .ui-header .ui-controlgroup .ui-btn-icon-right:after,
#index .ui-header .ui-controlgroup .ui-btn-icon-top:after,
#index .ui-header .ui-controlgroup .ui-btn-icon-bottom:after,
#index .ui-header .ui-controlgroup .ui-btn-icon-notext:after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  left: 16px;
}

#index .ui-header .ui-controlgroup-controls .ui-btn-corner-all,
#index .ui-header .ui-controlgroup-controls .ui-btn.ui-corner-all {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ui-mobile .ui-page-theme-a .ui-li-divider {
  border: none;
  border-bottom: 2px solid #005994;
  border-top: 1px solid #ccc;
  margin-bottom: -2px;
  z-index: 10;
  overflow: visible;
}

.ui-mobile .ui-page-theme-a #item-lists .ui-li-divider {
  border-color: #ddd;
  border-bottom: 2px solid #005994;
}

.ui-mobile .ui-page-theme-a .ui-li-divider,
.ui-mobile .ui-page-theme-a .ui-li-divider label{
  background: #fff;
  color: #005994;
  font-weight: bold !important;
  text-shadow: none;
}

.ui-mobile .ui-page-theme-a .ui-li-divider label{
  margin-bottom: 0;
}

/* make the jquery mobile loader to block all elements */
.ui-loader-background {
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:1011;
}

.ui-loading-blocking .ui-loader-background {
  display: block;
}

html .ui-loader {
  opacity: 0.88;
  border-width: 1px;
  background-color: #2a2a2a;
  border-color: #1d1d1d;
  color: #fff;
  text-shadow: 0 1px 0 #111;
}


.ui-loader-textonly {
  padding: 7px;
  margin-top: -32px;
  bottom: 10px;
  top: auto;
  font-size: 0.8em;
}

html, body.ui-mobile-viewport, div.ui-mobile-viewport {
  overflow: hidden !important;
}


/* button display enhancements */
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}

.ui-btn, .ui-btn a, .ui-btn a:hover, .ui-li {
  font-weight: normal;
}

/* make page animations faster */
.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 120ms !important;
}


/* style for index page */

#index .ui-content{
  padding: 0;
}

#index .items, #rules, #variables {
  position: relative;
}

#index .items .device label,
#index .items .shutter-device label,
#index .items .button label{
  float: left;
}

#index .items {
  margin: 0;
}

/* align the slider for switches to the right */
#index div.ui-flipswitch {
    margin: 5px 10px 5px 0 !important;
    position: absolute;
    right: 6px;
    top: 0;
}

#index div.ui-flipswitch .ui-flipswitch-on {
  color: #FFF;
  font-weight: bold;
}

#index div.ui-flipswitch .ui-flipswitch-off {
  color: #000;
  font-weight: bold;
}


#index li.button div.buttons, #index li.shutter-device .shutter-buttons {
  float: right;
  max-width: 100%;
  margin: 0;
}

#index li.button div.buttons {
  margin-top: -4px;
  margin-bottom: -4px;
  text-align: right;
  white-space: normal;
}

#index li.button div.buttons a {
  margin: 0;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#index li.button a{

  margin-top: 1px;
}

/* rules-page */
#rules span.if, #rules span.then {
  font-weight: bold;
}

#rules li a{
  font-weight: normal;
  color: #333;
}

#rules li a p{
  font-size: .9em;
  margin-top: 0.4em;
  margin-bottom: 0;
  white-space: normal;
}

/* hideRuleName class */
#rules.hideRuleName li.rule a .name{
  display: none;
}

#rules.hideRuleName li.rule a p{
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

/* hideRuleText class */
#rules.hideRuleText li.rule a p{
  display: none;
}



#index .items li.sortable {
  padding: 5px 16px;
}

.items #add-a-item a, 
#rules #add-rule a, 
#variables #add-a-variable a
#devicepages #add-a-devicepage a{
  font-weight: normal;
  color: #000;
}

/*#index .ui-content .ui-listview {
  margin-top: 20px;
  margin-bottom: 10px;
}

#index .ui-content .items {
  margin-top: 0px;
}*/

.unlocked ul.items li.sortable,
.unlocked ul#variables li.sortable a,
.unlocked ul#rules li.sortable a,
.unlocked ul#groups li.sortable a,
.unlocked ul#devices li.sortable a,
.unlocked ul#devicepages li.sortable a {
  padding-left: 36px !important;
}

li.sortable .handle{
  float: left;
  padding: 5px;
  opacity: 0.2;
  cursor: move;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-top: -19px;
}


li .edit-handle{
  float: left;
  padding: 5px;
  opacity: 0.8;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-top: -16px;
}

#device-json-editor h3{
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 10px;
}

li.sortable.header .handle {
  margin-top: -18px;
  left: 2px;
}

li.sortable .handle .ui-icon:after,
li .edit-handle .ui-icon:after{
  background-color: transparent;
}

.locked li.sortable .handle,
.locked li .edit-handle{
  display: none;
}

html.ui-mobile body .delete-link,
html.ui-mobile body .delete-link.ui-btn.ui-btn-active{
  background-color: #cc2929;
  border-color: #AA0000;
  color: #fff;
}

html.ui-mobile body .delete-link:hover {
  background-color: #CC0000;
  border-color: #AA0000;
  color: #fff;
}

.dark-background {
  background-color: rgb(51, 51, 51);
}

.ui-block-a .ui-btn{
    margin-left: 0px;
}
.ui-block-b .ui-btn{
    margin-right: 0px;
}

#li.sortable-placeholder{
  border-style: dashed;
  border-width: 1px;
  background-color: rgb(51, 51, 51);
  border-color: rgb(204, 204, 204);
}

#rules li.sortable-placeholder{
  padding: 0;
}

#variables li.sortable-placeholder{
  padding-top: 0.7em;
  padding-bottom: 1.7em;
}

.ui-header .ui-controlgroup .ui-shadow:not(.ui-focus){
  -moz-box-shadow: 0 1px 0      rgba(255,255,255,.3);
  -webkit-box-shadow: 0 1px 0   rgba(255,255,255,.3);
  box-shadow: 0 1px 0           rgba(255,255,255,.3);
}


/* dimmer */
ul.items .ui-slider-input{
  display: none;
}

ul.items .dimmer-device div.item-inner .ui-slider-track {
  margin-left: 22px;
  margin-right: 8px;
}

@media (min-width:35em) {
  ul.items .dimmer-device .ui-slider {
    margin: 3px 10px 10px 0 !important;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20em;
  }
}

#error-count {
  padding-left: 45px;
}

.items .attributes,
.items .variable .var-value {
  float: right;
  text-align:right;
  white-space: normal;
}

.items .attributes {
  max-width: 100%;
}

.items .attributes .attribute {
  margin: 5px 0px;
  margin-left: 0.5em;
  display: inline-block;
  white-space: nowrap;
}

.items .attribute .unit {
  color: #888888;
  margin-left: 0.1em;
}

#variables .var-name{
  display: inline;
} 

#variables .var-value{
  float: right;
  display: block;
} 



.ui-mobile  .items label {
  margin: 5px 0px;
}

.added label {
  color: #A0A0A0;
}

.outdent {
  margin-left: -1em;
  margin-right: -1em;
}


table#events-table {
  background: #fff;
  width: 100%;
}

#events-table .value-column {
  text-align: right;
}

@media ( max-width: 40em ) {

  #events-table tbody td{
    border: none;
  }
   
  #events-table tbody tr,
  #events-table thead tr {
    border-bottom: 1px solid #ddd;
  }
  
  #events-table thead tr {
    display: block;
  }

  #events-table .time-column {
    display: block;
    width: 20%;
    float: left;
  }

  #events-table .device-column {
    display: block;
    float: left;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 0px;
  }

  #events-table .attribute-column {
    float: left;
    display: block;
  }

  #events-table .value-column {
    display: block;
    float: right;
    width: 100px;
  }

  #events-table thead th {
    display: none !important;
  }

  #events-table .time-column {
    color: gray;
  }

  #events-table .value-column {
    font-weight: bold;
  }


}

#device-items li.item a, 
#variable-items li.item a, 
#add-other a#add-a-header, 
#add-other a#add-a-button {
  font-weight: normal;
}

#device-items li.header label {
  font-weight: bold;
}

li.rememberme, li.rememberme .ui-checkbox{
  padding: 0 !important;
  margin: 0 !important;

}


li.rememberme .ui-checkbox{
  padding-left: 8px !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


li.rememberme label {
  font-size: 16px !important;
  background-image: none !important;
  background-color: transparent !important;
  border-width: 0 !important;
}

#rememberme {
  opacity: 0;
}

/* device info */
.info-label {
  font-weight: bold;
}

#device-info-popup-popup ul{
  margin: -10px;
}

#device-info-popup-popup {
  min-width: 238px;
}

[data-role=listview].checkbox-list a.ui-btn,
[data-role=listview].checkbox-list{
  padding: 0 0 0 0 !important;
}
[data-role=listview].checkbox-list label {
  border: none;
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}

#log-messages li {
  padding: 0.2em 15px;
  line-height: 1.5em;
  white-space: normal;
}

#log-messages .time {
  color: gray;
  display: block;
  float: right;
  padding-left: 10px;
}

#log .controls {
  margin-bottom: 1em;
}

#log-messages .tags {
  color: #0e1b52;
}

.level.info {
    color: #339900;
}

.level.warn {
    color: #FFCC00;
}

.level.error {
    color: #CC0000;
}

.level.debug {
    color: #1944ff;
}

#plugin-list .ui-li-desc {
  margin-top: -0.2em
}

#plugin-list h2 {
  margin-top: 0.3em
}

#plugin-list li > div.ui-btn-inner.ui-li {
  border-top: 0px;
}

#plugin-list > li > a >.ui-checkbox {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

#plugin-list .active, #plugin-browse-list .active, #plugin-list .update-available, 
#plugin-browse-list .installed{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 10px;
  padding: 3px;
}

#plugin-list .active, #plugin-browse-list .active{
  background: #339900;
  color: white;
}

#plugin-browse-list .installed {
  background: gray;
  color: white;
}

#plugin-list .update-available{
  background: #FFCC00;
  color: white;
}

.ui-simpledialog-controls{
  padding: 0 6px;
}

.ui-simpledialog-input.ui-input-text{ 
  width: 100% !important; 
}

/*.ui-simpledialog-container .ui-header:first-child {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
*/
.ui-simpledialog-container {
  border: 5px solid #ccc !important;
}

#rules li.rule.deactivated a{
  color: #A0A0A0;
}

#rules li.rule a .name {
  font-weight: bold;
}

#edit-rule .ui-content {
  /* no idea why this is necessary to display full y when autocomplete is visible*/
  overflow-x: visible !important;
}

.collapsible-content-not-insert .ui-collapsible-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color:       #eee;
} 

.textcomplete-item a {
  white-space: nowrap;
  color: #000;
  font-weight: normal;
  text-shadow: none;
}

.textcomplete-more select{
  margin: 0;
  background-color: white;
  border: none;
}

.drag-message {
  /*display: none;*/
  position: absolute;
  padding: 0 10px;
  font-weight: bold;
  z-index: 99;
  color: white;
}

.drag-message.deactivate {
  /*color: #CC0000;*/
  right: 15px;
}

.drag-message.activate {
  /*color: #339900;*/
  left: 15px;
}

/* two page view */
/*.pageOne {
    display: block !important;
    width: 50% !important;
    float: left !important;
    background: yellow !important;
    position: relative !important;
}

.pageTwo {
    display: inline-block !important;
    width: 50% !important;
    float: right !important;
    background: green !important;
    position: relative !important;
}*/

#index li.with-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

li.with-button a.ui-btn {
  position: absolute;
  top: 4px;
  right: 8px;
}



#variables .variable .var-name,
#variables .variable .var-value {
  font-weight: bold;
  color: #333;
}


#variables .variable .var-type,
#variables .variable .var-expression {
  font-weight: normal;
  color: #333;
}

#variables .variable .var-type {
  color: gray;
}



#index .lock-button {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border-width: 1px;
}


#updates .message p{
  margin-top: 3px;
  margin-bottom: 0;
}

#nav-panel {
  background-color: #FFF;
}

#nav-panel a,
#nav-panel label
{
  font-weight: normal;
}

#edit-rule-form label, #edit-variable-form label {
  font-weight: bold;
}


.has-variable-name-input .ui-input-text:before {
  position: absolute;
  margin: 0.4em;
  margin-top: 0.5em;
  content: '$';
  z-index: 100;
}

.has-variable-name-input .ui-input-text input {
  margin-left: 0.55em;
}


@media (min-width: 28em) {

  #edit-rule-form label[for='edit-rule-condition'],
  #edit-rule-form label[for='edit-rule-actions'] {
    float: none;
  }


  .short-labels .ui-field-contain > label,
  .short-labels .ui-field-contain .ui-controlgroup-label,
  .short-labels .ui-field-contain > .ui-rangeslider > label {
    width: 12%;
  }

  .short-labels .ui-field-contain > label ~ [class*="ui-"],
  .short-labels .ui-field-contain .ui-controlgroup-controls {
    float: left;
    width: 86%;
  }

}


@media (min-width: 60em) {

  .locked #item-lists {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .locked #item-lists ul {
    background-color: transparent;
    margin-top: 5px;
  }

  .locked .items .header, .locked .items .header label {
    background-color: transparent;
    border-top: none;
  }

  .locked .items .header {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;
    margin-bottom: 4px;
  }
  
  .locked .items .no-header {
    overflow: visible;
    border-radius: 2px;
    float: left;
    padding-left: 1% !important;
    padding-right: 1% !important;
    width: 46.4%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc !important;
    margin-left: 1%;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    box-shadow: 0 0 2px 2px rgb(247, 247, 247);
  }
  
  .locked .items .ui-first-child {
    /*margin-bottom: 0.8%;*/
  }

  .locked .items .header {
    margin-top: -0.4%;
    clear: both;
  }
  
  .locked #rules {
    clear: both;
  }

}

.graph-device label {
  font-weight: bold;
}

.graph-device-attribute {
  position: relative;
}

.graph-device-attribute .color-label {
  display: inline-block;
  float: left;
  height: 16px;
  width: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.graph-device-attribute .name{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.graph-device-attribute div.controls{
  margin: 3px 10px 10px 0 !important;
  position: absolute;
  right: 0;
  top: -3px;
}

.graph-device-attribute  div.controls .ui-btn-inline{
  margin: 2px;
  color: black;
  font-weight: bold;
}

.graph-device-attribute  div.controls .ui-slider-switch{
  margin: 3px 10px 10px 0 !important;
}

li.item .attributes .sparkline {
  margin-left: 5px;
}
li.item .attributes .sparkline canvas{
  max-width: 40px !important;
  position: relative;
  top: 2px;
}

@media (min-width: 28em) {
  li.item .attributes .sparkline canvas{
    max-width: 90px !important;
  }
}

li.item .attributes .lastUpdate {
  font-size: 0.8em;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  height: 19px;
  color: #888888;
}

li.item .attributes .lastUpdate.long {
  font-size: 0.6em;
  margin-top: -9px;
}


#chart-info {
  text-align: right;
  padding-top: 7px;
  font-size: 15px;
}

#graph-page #chart-container .ui-input-text{
  display: inline-block;
  vertical-align: middle;
  width: 88px;
  border-color:     #ccc /*{a-bup-border}*/;
}

#graph-page #chart-container .ui-input-text input{
  padding-top: 0.50em;
  padding-bottom: 0.50em;
  background: white;
}

@media (max-width:28em) {
  #logger-attr-values li div.controls label {
    display: none;
  }
 
}

.edit-pages-handle-label {
  margin-left: 9px;
}