
/* make the jquery mobile loader to block all elements */
.ui-loader-background {
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:1001;
}

.ui-loading .ui-loader-background {
    display:block;
}

/* button display enhancements */
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}

.ui-btn, .ui-btn a, .ui-btn a:hover, .ui-li {
  font-weight: normal;
}

/* make page animations faster */
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 120ms !important;
}

/* align the slider for switches to the right */
#index div.ui-slider-switch {
    margin: 3px 10px 10px 0 !important;
    position: absolute;
    right: 0;
    top: 0;
}


/* index-page */
#index span.if, span.then {
  font-weight: bold;
}


ul#items li.sortable {
  padding-left: 0px;
}

ul#items li.sortable .handle {
  float: left;
  padding: 0 5px;
  opacity: 0.2;
  cursor: move;
}

fieldset .ui-block-a .ui-btn{
    margin-left: 0px;
}
fieldset .ui-block-b .ui-btn{
    margin-right: 0px;
}

li.sortable-placeholder{
  /*height: 20px;*/
  border-style: dashed;
  border-width: 1px;
}

#index .ui-header .ui-btn .ui-btn-inner {
  height: 16px;
}


#error-count .ui-btn-text {
  font-weight: bold;
  top: -1px;
}


ul#items {
  position: relative;
}

/* dimmer */
ul#items .ui-slider-input{
  display: none;
}

ul#items .dimmer-device div.item-inner .ui-slider-track {
  margin-left: 22px;
  margin-right: 8px;
}

@media (min-width:35em) {
  ul#items .dimmer-device .ui-slider {
    margin: 3px 10px 10px 0 !important;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
  #error-count .ui-btn-text {
    font-weight: bold;
    top: 1px;
  }
}



#error-count .ui-btn-inner {
    padding-left: 26px;
}

#items .attributes{
  float: right;
}

#items .attributes > span{
  margin-left: 0.5em;
}

#items .attribute .unit {
  color: #888888;
  margin-left: 0.1em;
}

.added label {
  color: #A0A0A0;
}

/* device info */
.info-label {
  font-weight: bold;
}

#device-info-popup-popup ul{
  margin: -10px;
}

#device-info-popup-popup {
  min-width: 238px;
}

[data-role=listview].checkbox-list a.ui-link-inherit {
  padding: 0 0 0 0;
}
[data-role=listview].checkbox-list label {
  border: none; margin: 0;
}

#log-messages li {
    padding: 0.2em 15px;
}

.level.info {
    color: #339900;
}

.level.warn {
    color: #FFCC00;
}

.level.error {
    color: #CC0000;
}

#plugin-list .ui-li-desc {
  margin-top: -0.2em
}

#plugin-list h2 {
  margin-top: 0.3em
}

#plugin-list li > div.ui-btn-inner.ui-li {
  border-top: 0px;
}

#plugin-list .active, #plugin-browse-list .active, #plugin-list .update-available, 
#plugin-browse-list .installed{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 10px;
  padding: 3px;
}

#plugin-list .active, #plugin-browse-list .active{
  background: #339900;
  color: white;
}

#plugin-browse-list .installed {
  background: gray;
  color: white;
}

#plugin-list .update-available{
  background: #FFCC00;
  color: white;
}

.ui-simpledialog-controls{
  padding: 0 6px;
}

.ui-simpledialog-input.ui-input-text{ 
  width: 100% !important; 
}

/*.ui-simpledialog-container .ui-header:first-child {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
*/
.ui-simpledialog-container {
  border: 5px solid #ccc !important;
}

.rule.deactivated a{
  color: #A0A0A0;
}

@media (min-width:35em) {
 
  /* wrap on wide viewports once open */
 
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
  .ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
  .ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 17em;
  }
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
  .ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
  .ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 17em;
  }
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
  .ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
    width: auto;    
  }
 
  /* disable "dismiss" on wide viewports */
  .ui-panel-dismiss {
    display: none;
  }
  /* same as the above but for panels with display mode "push" only */
  .ui-panel-dismiss-display-push {
    display: none;
  }
 
}