/* 
  Overthrow CSS:
  Enable overflow: auto on elements with overthrow class when html element has overthrow class too 
*/
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.overthrow-enabled .overthrow.ui-content {
  position: absolute;
  z-index: 1;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pep-active {
  z-index: 1001;
}

.ui-header {
  z-index: 1000;
}


/* make the jquery mobile loader to block all elements */
.ui-loader-background {
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:1001;
}

.ui-loading-blocking .ui-loader-background {
  display: block;
}

html .ui-loader {
  opacity: 0.88;
  border-width: 1px;
  background-color: #2a2a2a;
  border-color: #1d1d1d;
  color: #fff;
  text-shadow: 0 1px 0 #111;
}


.ui-loader-textonly {
  padding: 7px;
  margin-top: -32px;
  bottom: 10px;
  top: auto;
  font-size: 0.8em;
}


/* button display enhancements */
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}

.ui-btn, .ui-btn a, .ui-btn a:hover, .ui-li {
  font-weight: normal;
}

/* make page animations faster */
.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 120ms !important;
}


/* style for index page */

#index #items, #index #rules, #index #variables {
  position: relative;
}

#index #items .device label {
  float: left;
}

/* align the slider for switches to the right */
#index div.ui-flipswitch {
    margin: 5px 10px 5px 0 !important;
    position: absolute;
    right: 0;
    top: 0;
}

#index div.ui-flipswitch .ui-flipswitch-on {
  color: #FFF;
  font-weight: bold;
}

#index div.ui-flipswitch .ui-flipswitch-off {
  color: #000;
  font-weight: bold;
}


#index li.button a, #index li.shutter-device .shutter-buttons {
  margin: 3px 10px 3px 0 !important;
  position: absolute;
  right: 0;
  top: 0;
}

#index li.button a{
  margin-top: 1px;
}

/* index-page */
#index span.if, span.then {
  font-weight: bold;
}

#index #rules li a{
  font-weight: normal;
  color: #333;
}

#index #rules li a p{
  font-size: .9em;
  margin-top: 0.4em;
  margin-bottom: 0;
  white-space: normal;
}

/* hideRuleName class */
#index #rules.hideRuleName li.rule a .name{
  display: none;
}

#index #rules.hideRuleName li.rule a p{
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

/* hideRuleText class */
#index #rules.hideRuleText li.rule a p{
  display: none;
}



#index #items li.sortable {
  padding-right: 20px;
}

#index #items #add-a-item a, #index #rules #add-rule a, #index #variables #add-a-variable a{
  font-weight: normal;
  color: #000;
}

#index .ui-content .ui-listview {
  margin-top: 20px;
  margin-bottom: 10px;
}

#index .ui-content #items {
  margin-top: 0px;
}

.unlocked ul#items li.sortable,
.unlocked ul#variables li.sortable a,
.unlocked ul#rules li.sortable a {
  padding-left: 36px;
}

li.sortable .handle{
  float: left;
  padding: 5px;
  opacity: 0.2;
  cursor: move;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-top: -19px;
}

li.sortable.header .handle {
  margin-top: -18px;
  left: 2px;
}

#index li.sortable .handle .ui-icon:after{
  background-color: transparent;
}

.locked li.sortable .handle{
  display: none;
}

#delete-item, #delete-rule, #delete-variable {
  border-color: #AA0000;
  color: #fff;
}

.dark-background {
  background-color: rgb(51, 51, 51);
}

.ui-block-a .ui-btn{
    margin-left: 0px;
}
.ui-block-b .ui-btn{
    margin-right: 0px;
}

#index li.sortable-placeholder{
  border-style: dashed;
  border-width: 1px;
  background-color: rgb(51, 51, 51);
  border-color: rgb(204, 204, 204);
}

#index #rules li.sortable-placeholder{
  padding: 0;
}

#index #variables li.sortable-placeholder{
  padding-top: 0.7em;
  padding-bottom: 1.7em;
}

.ui-header .ui-controlgroup .ui-shadow:not(.ui-focus){
  -moz-box-shadow: 0 1px 0      rgba(255,255,255,.3);
  -webkit-box-shadow: 0 1px 0   rgba(255,255,255,.3);
  box-shadow: 0 1px 0           rgba(255,255,255,.3);
}


/* dimmer */
ul#items .ui-slider-input{
  display: none;
}

ul#items .dimmer-device div.item-inner .ui-slider-track {
  margin-left: 22px;
  margin-right: 8px;
}

@media (min-width:35em) {
  ul#items .dimmer-device .ui-slider {
    margin: 3px 10px 10px 0 !important;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
  #error-count .ui-btn-text {
    font-weight: bold;
    top: -1px;
  }
}

#items .attributes,
#items .variable .var-value {
  float: right;
}

#items .attributes > span{
  margin-left: 0.5em;
}

#items .attribute .unit {
  color: #888888;
  margin-left: 0.1em;
}

#index #variables .var-name{
  display: inline;
} 

#index #variables .var-value{
  float: right;
  display: block;
} 



.ui-mobile  #items label {
  margin: 0;
  display: inline;
}

.added label {
  color: #A0A0A0;
}


#device-items li.item a, 
#variable-items li.item a, 
#add-other a#add-a-header, 
#add-other a#add-a-button {
  font-weight: normal;
}



li.rememberme, li.rememberme .ui-checkbox{
  padding: 0 !important;
  margin: 0 !important;

}


li.rememberme .ui-checkbox{
  padding-left: 8px !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


li.rememberme label {
  font-size: 16px !important;
  background-image: none !important;
  background-color: transparent !important;
  border-width: 0 !important;
}

#rememberme {
  opacity: 0;
}

/* device info */
.info-label {
  font-weight: bold;
}

#device-info-popup-popup ul{
  margin: -10px;
}

#device-info-popup-popup {
  min-width: 238px;
}

[data-role=listview].checkbox-list a.ui-btn,
[data-role=listview].checkbox-list{
  padding: 0 0 0 0 !important;
}
[data-role=listview].checkbox-list label {
  border: none;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#log-messages li {
  padding: 0.2em 15px;
  line-height: 1.5em;
  white-space: normal;
}

#log-messages .time {
  color: gray;
  display: block;
  float: right;
  padding-left: 10px;
}

.level.info {
    color: #339900;
}

.level.warn {
    color: #FFCC00;
}

.level.error {
    color: #CC0000;
}

#plugin-list .ui-li-desc {
  margin-top: -0.2em
}

#plugin-list h2 {
  margin-top: 0.3em
}

#plugin-list li > div.ui-btn-inner.ui-li {
  border-top: 0px;
}

#plugin-list .active, #plugin-browse-list .active, #plugin-list .update-available, 
#plugin-browse-list .installed{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 10px;
  padding: 3px;
}

#plugin-list .active, #plugin-browse-list .active{
  background: #339900;
  color: white;
}

#plugin-browse-list .installed {
  background: gray;
  color: white;
}

#plugin-list .update-available{
  background: #FFCC00;
  color: white;
}

.ui-simpledialog-controls{
  padding: 0 6px;
}

.ui-simpledialog-input.ui-input-text{ 
  width: 100% !important; 
}

/*.ui-simpledialog-container .ui-header:first-child {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
*/
.ui-simpledialog-container {
  border: 5px solid #ccc !important;
}

#index #rules li.rule.deactivated a{
  color: #A0A0A0;
}

#index #rules li.rule a .name {
  font-weight: bold;
}

#edit-rule .ui-content {
  /* no idea why this is necessary to display full y when autocomplete is visible*/
  overflow-x: visible !important;
}

.textcomplete-item a {
  white-space: nowrap;
  color: #000;
  font-weight: normal;
  text-shadow: none;
}

.textcomplete-more select{
  margin: 0;
  background-color: white;
  border: none;
}

.drag-message {
  /*display: none;*/
  position: absolute;
  padding: 0 10px;
  font-weight: bold;
  z-index: 99;
  color: white;
}

.drag-message.deactivate {
  /*color: #CC0000;*/
  right: 15px;
}

.drag-message.activate {
  /*color: #339900;*/
  left: 15px;
}

/* two page view */
/*.pageOne {
    display: block !important;
    width: 50% !important;
    float: left !important;
    background: yellow !important;
    position: relative !important;
}

.pageTwo {
    display: inline-block !important;
    width: 50% !important;
    float: right !important;
    background: green !important;
    position: relative !important;
}*/

#index li.with-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

li.with-button a.ui-btn {
  position: absolute;
  top: 4px;
  right: 8px;
}



#variables .variable .var-name,
#variables .variable .var-value {
  font-weight: bold;
  color: #333;
}


#variables .variable .var-type,
#variables .variable .var-expression {
  font-weight: normal;
  color: #333;
}

#variables .variable .var-type {
  color: gray;
}



#index .lock-button {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border-width: 1px;
}

@media (min-width:35em) {
 
  /* wrap on wide viewports once open */

  .ui-panel-page-content-open.ui-panel-page-content-position-left{
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right {
    margin-left: 17em;
  }
  .ui-panel-page-content-open{
    width: auto;    
  }
 
  /* disable "dismiss" on wide viewports */
  .ui-panel-dismiss {
    display: none;
  }
  /* same as the above but for panels with display mode "push" only */
  .ui-panel-dismiss-display-push {
    display: none;
  }
 
}

#index .ui-bar-b .ui-btn, #index .ui-bar-b {
  border:1px solid #007dcd;
  background:#333;
  font-weight:bold;
  color:#fff;
  background-image:-webkit-gradient(linear,left top,left bottom,from( #0093EA ),to( #0093EA ));
  background-image:-webkit-linear-gradient( #0093EA,#0093EA );
  background-image:-moz-linear-gradient( #0093EA,#0093EA );
  background-image:-ms-linear-gradient( #0093EA,#0093EA );
  background-image:-o-linear-gradient( #0093EA,#0093EA );
  background-image:linear-gradient( #0093EA,#0093EA );

  -moz-box-shadow:0 1px 0 rgba(255,255,255,.3);
  -webkit-box-shadow:0 1px 0 rgba(255,255,255,.3);
  box-shadow:0 1px 0 rgba(255,255,255,.3);
  box-shadow: 0 1px 0 rgba(255,255,255,.3),
              0 1px 0 rgba(255,255,255,.3) inset;
}

#nav-panel {
  background-color: #FFF;
  box-shadow: none;
}
#nav-panel a,
#nav-panel label
{
  font-weight: normal;
}

#edit-rule-form label, #edit-variable-form label {
  font-weight: bold;
}


.has-variable-name-input .ui-input-text:before {
  position: absolute;
  margin: 0.4em;
  margin-top: 0.5em;
  content: '$';
  z-index: 100;
}

.has-variable-name-input .ui-input-text input {
  margin-left: 0.55em;
}


@media (min-width: 28em) {

  #edit-rule-form label[for='edit-rule-condition'],
  #edit-rule-form label[for='edit-rule-actions'] {
    float: none;
  }


  .short-labels .ui-field-contain > label,
  .short-labels .ui-field-contain .ui-controlgroup-label,
  .short-labels .ui-field-contain > .ui-rangeslider > label {
    width: 12%;
  }

  .short-labels .ui-field-contain > label ~ [class*="ui-"],
  .short-labels .ui-field-contain .ui-controlgroup-controls {
    float: left;
    width: 86%;
  }

}

.notSorting #items .item, 
.notSorting #rules .rule, 
.notSorting #variables .variable {
  -webkit-transition: margin 250ms,padding 250ms;
  transition: margin 250ms,padding 250ms;
}

.notSorting #rules .rule a, 
.notSorting #variables .variable a {
  -webkit-transition: margin 250ms,padding 250ms;
  transition: margin 250ms,padding 250ms;
}

@media (min-width: 60em) {
  
  .locked #items .no-header {
    border-radius: 2px;
    float: left;
    padding-left: 1% !important;
    padding-right: 1% !important;
    width: 46.4%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc !important;
    margin-left: 1%;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
  }
  
  .locked #items .ui-first-child {
    margin-bottom: 0.8%;
  }

  .locked #items .header {
    margin-top: -0.4%;
    clear: both;
  }
  
  .locked #items {
    background: white !important;
  }
  
  .locked #items #delete-item {
    display: block !important;
    height: 0px;
    clear: both;
    padding: 0;
    border: none !important;
    background-color: white !important;
    padding-top: 0.4%;
  }
  
  .locked #rules {
    clear: both;
  }

}