div#config(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left', 
      data-inline='true', data-transition="slidefade", data-direction="reverse")=__('Back')
    h3=__('Config')
  div.ui-content.overthrow
    div#config-editor()