div#log(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header', data-position='fixed')
    a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-arrow-l(href='#index', data-transition="slidefade", data-direction="reverse")=__('Back')
    a#clear-log.ui-btn-right.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-check()=__('Clear')
    h3=__('Log messages')
  div.ui-content.overthrow
    ul#log-messages(data-role='listview', data-bind="foreach: messages")
      li
        span.time(data-bind='text: $parent.timeToShow($index)')
        span(data-bind='text: level, attr: {class: "level " + level}')
        |: 
        span.msg(data-bind='text: text')