doctype html
html(manifest=(mode=="production" ? 'application.manifest' : null))
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    //- http://mathiasbynens.be/notes/touch-icons
    link(rel='icon', sizes='152x152', href='apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='apple-touch-icon-76x76-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
    title pimatic
    != nap.css('theme')
    != nap.css('style')
    != nap.js('jquery')
    script(src='socket.io/socket.io.js')
    script(type='text/javascript')!="locale = " + JSON.stringify(i18n.getCatalog()) + ";"
    != nap.js('main')
  body
    include pages/index
    include pages/add-item
    include pages/edit-rule
    include pages/edit-variable
    include pages/log-messages
    include pages/plugins
    include pages/updates
    | !{additionalPages}
    #toast.ui-corner-all(data-role='toast')
    div.ui-loader-background  
