include pages/index
include pages/rules
include pages/variables
include pages/groups
include pages/add-item
include pages/edit-rule
include pages/edit-variable
include pages/edit-devicepage
include pages/edit-group
include pages/edit-device
include pages/log-messages
include pages/graph
include pages/events
include pages/devices
include pages/plugins
include pages/updates
include pages/devicepages
| !{additionalPages}